@if (viewMode() === 'iss') {
  <arcgis-map
    basemap="dark-gray-vector"
    zoom="2"
    (arcgisViewReadyChange)="arcgisViewReadyChange($event)"
    (arcgisViewClick)="arcgisViewClick($event)"
    (arcgisViewMouseWheel)="arcgisViewMouseWheel($event)"
    (arcgisViewDoubleClick)="arcgisViewDoubleClick($event)"
    (arcgisViewKeyDown)="arcgisViewKeyDown($event)"
    [wrapAround180]="true"
  > 
  </arcgis-map>
}
@else {
  <arcgis-scene
    basemap="dark-gray-vector"
    (arcgisViewReadyChange)="arcgisSceneReadyChange($event)"
  >
    <arcgis-zoom class="pb-3" slot="top-left"></arcgis-zoom>
    <arcgis-navigation-toggle class="pb-3" slot="top-left"></arcgis-navigation-toggle>
    <arcgis-compass slot="top-left"></arcgis-compass>
  </arcgis-scene>
}